# custom player model
public net.minecraft.client.model.geom.ModelPart$Polygon
public net.minecraft.client.model.geom.ModelPart$Vertex
public net.minecraft.client.model.geom.ModelPart cubes
public net.minecraft.client.model.geom.ModelPart$Cube polygons

# custom player model rendering
public net.minecraft.client.model.player.PlayerModel slim

# modded layer supports
public net.minecraft.client.renderer.entity.LivingEntityRenderer addLayer(Lnet/minecraft/client/renderer/entity/layers/RenderLayer;)Z
public-f net.minecraft.client.renderer.entity.layers.RenderLayer renderer
public net.minecraft.client.renderer.entity.layers.RenderLayer renderer

# gui handling
public net.minecraft.client.MouseHandler onButton(JLnet/minecraft/client/input/MouseButtonInfo;I)V
public net.minecraft.client.MouseHandler onMove(JDD)V
public net.minecraft.client.MouseHandler onScroll(JDD)V
public net.minecraft.client.KeyboardHandler charTyped(JLnet/minecraft/client/input/CharacterEvent;)V
public net.minecraft.client.KeyboardHandler keyPress(JILnet/minecraft/client/input/KeyEvent;)V

# for aim fix
public net.minecraft.network.Connection channel

# for quicktorch
public net.minecraft.client.Minecraft startUseItem()V

# to switch rendertargets for VR passes
public-f net.minecraft.client.Minecraft mainRenderTarget
public net.minecraft.client.Minecraft mainRenderTarget

# XR Camera
public net.minecraft.client.Camera initialized
public net.minecraft.client.Camera level
public net.minecraft.client.Camera entity

# to set reset camera before tick
public net.minecraft.client.Camera setPosition(Lnet/minecraft/world/phys/Vec3;)V

# for pausemenu buttons
public net.minecraft.client.Minecraft isMultiplayerServer()Z

# to add custom key mappings
public-f net.minecraft.client.Options keyMappings

# to check key inputs
public net.minecraft.client.KeyMapping clickCount
public net.minecraft.client.KeyMapping release()V
public net.minecraft.client.ToggleKeyMapping release()V
public net.minecraft.client.KeyMapping key

# to create custom GL textures
public com.mojang.blaze3d.opengl.GlTexture <init>(ILjava/lang/String;Lcom/mojang/blaze3d/textures/TextureFormat;IIIII)V

# to render vr hands
public net.minecraft.client.renderer.ItemInHandRenderer renderArmWithItem(Lnet/minecraft/client/player/AbstractClientPlayer;FFLnet/minecraft/world/InteractionHand;FLnet/minecraft/world/item/ItemStack;FLcom/mojang/blaze3d/vertex/PoseStack;Lnet/minecraft/client/renderer/SubmitNodeCollector;I)V

# to render item activation outside of gamerenderer
public net.minecraft.client.renderer.ScreenEffectRenderer renderItemActivationAnimation(Lcom/mojang/blaze3d/vertex/PoseStack;FLnet/minecraft/client/renderer/SubmitNodeCollector;)V

# to disable destroy delay, on roomscale hitting
public net.minecraft.client.multiplayer.MultiPlayerGameMode destroyDelay

# to access the spear progress interpolation
public net.minecraft.client.model.effects.SpearAnimations progress(FFF)F
public net.minecraft.client.model.effects.SpearAnimations hitFeedbackAmount(F)F
public net.minecraft.client.model.effects.SpearAnimations$UseParams

# for correct vr rendering
public net.minecraft.world.entity.Entity eyeHeight

# to check if the player can lunge forward
public net.minecraft.world.entity.player.Player hasEnoughFoodToDoExhaustiveManoeuvres()Z

# to add vivecraft items in the creative menus
public net.minecraft.world.item.CreativeModeTabs TOOLS_AND_UTILITIES
public net.minecraft.world.item.CreativeModeTabs FOOD_AND_DRINKS

# to render crosshair
public net.minecraft.client.gui.Gui CROSSHAIR_SPRITE

# to handle click events
public net.minecraft.client.gui.screens.Screen defaultHandleGameClickEvent(Lnet/minecraft/network/chat/ClickEvent;Lnet/minecraft/client/Minecraft;Lnet/minecraft/client/gui/screens/Screen;)V
public net.minecraft.client.gui.screens.Screen defaultHandleClickEvent(Lnet/minecraft/network/chat/ClickEvent;Lnet/minecraft/client/Minecraft;Lnet/minecraft/client/gui/screens/Screen;)V

# for menuworlds
public net.minecraft.client.multiplayer.ClientLevel$ClientLevelData isFlat
public net.minecraft.world.level.biome.BiomeManager biomeZoomSeed
public net.minecraft.world.level.biome.Biome$ClimateSettings
public-f net.minecraft.world.level.material.FluidState
public net.minecraft.world.level.block.state.StateHolder propertiesCodec

# to init VR
public net.minecraft.client.ResourceLoadStateTracker$ReloadState
public net.minecraft.client.ResourceLoadStateTracker$ReloadState reloadReason

# to spawn brush particles
public net.minecraft.world.item.BrushItem spawnDustParticles(Lnet/minecraft/world/level/Level;Lnet/minecraft/world/phys/BlockHitResult;Lnet/minecraft/world/level/block/state/BlockState;Lnet/minecraft/world/phys/Vec3;Lnet/minecraft/world/entity/HumanoidArm;)V

# do not kick climbing players
public net.minecraft.server.network.ServerGamePacketListenerImpl aboveGroundTickCount

# to render the camera widget with display
public net.minecraft.client.renderer.item.ItemStackRenderState layers

# for custom rendertypes / to create custom END shader
public net.minecraft.client.renderer.rendertype.RenderType create(Ljava/lang/String;Lnet/minecraft/client/renderer/rendertype/RenderSetup;)Lnet/minecraft/client/renderer/rendertype/RenderType;

public net.minecraft.client.renderer.RenderPipelines DEBUG_FILLED_SNIPPET
public net.minecraft.client.renderer.RenderPipelines END_PORTAL_SNIPPET
public net.minecraft.client.renderer.RenderPipelines ENTITY_SNIPPET
public net.minecraft.client.renderer.RenderPipelines FOG_SNIPPET
public net.minecraft.client.renderer.RenderPipelines GUI_TEXTURED_SNIPPET
public net.minecraft.client.renderer.RenderPipelines MATRICES_PROJECTION_SNIPPET
public net.minecraft.client.renderer.RenderPipelines TEXT_SNIPPET
